$primary-color: lightblue;

.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 1em;
  margin: 0;
  background: #f4c4c4;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 4em 0;

  & > li {
    margin-bottom: 3em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formContent {
  width: 100%;
  font-size: 1.4em;
  padding: 0.8em;
  min-height: 6em;
  border: 2px solid #939191;
  border-radius: 5px;
  margin-bottom: 1em;
}

.formButton {
  background: salmon;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 0.6em 1em;
  font-size: 1.1em;
}

.formButton:hover {
  border-color: rgba(255, 255, 255, 1);
  color: wheat;
}

.logInButton {
  float: right;
  margin: 0 0.1em 0.1em 0;
  transition: all 0.2s;
  background: #f14ebd;
  border-radius: 2em;
  color: white;
  border: 0.16em solid rgba(255, 255, 255, 0);
  padding: 0.6em 1em;
  font-size: 1.1em;
  text-align: center;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}

.logInButton:hover {
  border-color: rgba(255, 255, 255, 1);
}

@media (max-width: 992px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0.6 1.6em;
  }
}
