.postsContent {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.postsDate {
  font-style: normal;
  font-weight: 350;
  font-size: 14px;
  display: flex;
  align-items: center;
}
